.account-page {
    padding: 30px;
    text-align: center;
    background-color: bisque;
    height: 100vh;
  }
  
  .user-info {
    display: flex;
    align-items:  flex-start;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-direction: column;
    background-color: aqua;
  }

  .displayName {
    /*font-size: 10px;*/
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
  }

  .user-actions button {
    padding: 10px 20px;
    margin-right: 20px;
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-actions button:hover {
    background-color: #357ae8;
  }
  